@import model.domain.{Email, EmailId}
@import play.twirl.api.Html
@(mails: List[Email])

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bit Spam</title>

      <!-- Bootstrap -->
    <link href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("bootstrap/css/bootstrap-theme.min.css")" rel="stylesheet">

  </head>
  <body>
    <center>
      <img src="@routes.Assets.at("images/BIT-SPAM.png")" class="img-rounded" alt="BIT SPAM" >
    </center>
    <h1 align="Middle">Najnowsze wiadomości</h1>

    <div id="mails" title="Interesting mails">
      @for(mail <- mails){
        <div class="well" align="middle">
          <p> @Html(mail.content.replaceAll("<img .*? />", "")) </p>
        </div>
      }
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>

  </body>
</html>