@*TODO user should be able to edit the mail and update it*@
@import model.domain.Email
@import play.twirl.api.Html
@(mail: Email)

<!DOCTYPE html>
    <html lang="pl">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <title>Bit Spamm</title>

                <!-- Bootstrap -->
            <link href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" rel="stylesheet">
            <link href="@routes.Assets.at("bootstrap/css/bootstrap-theme.min.css")" rel="stylesheet">

        </head>
        <body>

            <div class="jumbotron">
                @Html(mail.content)
            </div>


            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>

        </body>
    </html>